body {
  background-color: #cbd5e1;
  margin: 0;
  padding: 0;
}
section {
  max-width: 1450px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 20rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.imgContainer {
  background-color: #2563eb;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.txtContainer {
  padding: 1.5rem;
}
