body {
  background-color: #cbd5e1;
  margin: 0;
  padding: 0;
}
section {
  max-width: 1450px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 18rem;
  text-align: center;
}
.imgContainer {
  background-color: #2563eb;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.txtContainer {
  padding: 1rem;
}
